/* Overview Page */

.overview_Container {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.lastOptimizeStatus_Table>li {
	display: flex !important;
	flex: 1;
	justify-content: space-between;
	align-items: center;
}

.lastOptimizeStatus_Row>div {
	display: flex !important;
	flex: 1;
	align-items: center;
	justify-content: space-between;
}

.lastOptimizeStatus_Header_Row, .lastOptimizeStatus_Header_Row>div {
	height: 68px !important;
}

.lastOptimizeStatus_Text {
	padding: 20px;
}

.lastOptimizeStatus_Rescan_Button {
	margin-right: 20px;
}

.lastOptimizeStatus_Button {
	margin-right: 15px;
	margin-left: auto;
}

/* File List Viewer Table */

.fileListViewer_Column_Selected {
	flex: 0 0 16px;
	margin-right: 31px;
	margin-left: 20px;
	align-self: center;
}

.fileListViewer_Column_Compressed_Size, .fileListViewer_Column_Original_Size {
	align-self: center;
	text-align: right;
	white-space: nowrap;
}

.fileListViewer_Column_Original_Size {
	min-width: 85px;
	margin-left: 30px;
}

.fileListViewer_Column_Compressed_Size {
	min-width: 115px;
	margin-right: 20px;
	margin-left: 30px
}

.fileListViewer_Column_File_Name {
	flex: 1 1 300px;
	align-self: center;
	word-break: break-all;
}

.warning-svg svg path {
	fill: #ef4e65;
}

.spinner-svg {
	margin: 0 !important;
	width: 10px !important;
}

.spinner-svg svg path {
	fill: #c7c4c4;
}

.fileList_Virtual_Table_Row {
	min-height: 27px;
	height: auto !important;
}

.fileList_File_Name_Row {
	padding-top: 4px;
	padding-bottom: 4px;
}

.fileList_File_Name_Header {
	min-height: 37px;
	display: flex;
	align-items: center;
	word-break: break-word;
	padding-top: 4px;
	padding-bottom: 4px;
}

/* File List View Header */

.fileView_Header {
	margin: 18px;
	display: flex;
}

.fileView_Header_Text {
	padding-top: 10px;
	padding-bottom: 10px;
}

.fileView_Button_Optimization {
	margin-left: auto;
}

.caret-svg {
	transform: scaleX(-1);
	margin-bottom: 1px !important;
}

.fileView_Header_Back_Button {
	padding-left: 0 !important;
}

/* File List View Modal */

.fileList_Modal_Text {
	padding-top: 24px;
	padding-bottom: 20px;
}

.fileList_Modal_Settings_Button {
	margin-top: 0 !important;
	padding-top: 0;
	padding-left: 5px;
}

/* Preferences */

.preferences_FlexColumn {
	display: flex;
	flex-direction: column;
}

.preferences_FlexRow {
	display: flex;
	flex-direction: row;
}

.preferences_AlignItems_Center {
	align-items: center;
}

.preferences_MarginLeft_16px {
	margin: 0 0 0 16px;
}

.preferences_MarginBottom_20px {
	margin: 0 0 20px 0;
}

.preferences_PaddingBottom_11px {
	padding: 0 0 11px 0;
}
